html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #323232;
	font-size: 16px;
	line-height: 1.6875;
}

/* Utility */
.none {
	display: none !important;
}

.visually-hidden {
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}
